[submodule "decrypt-initcpio"]
	path = decrypt-initcpio
	url = aur@aur.archlinux.org:decrypt-initcpio.git
[submodule "dvorakng"]
	path = dvorakng
	url = aur@aur.archlinux.org:dvorakng.git
[submodule "serve2d"]
	path = serve2d
	url = aur@aur.archlinux.org:serve2d.git
[submodule "serve2d-git"]
	path = serve2d-git
	url = aur@aur.archlinux.org:serve2d-git.git
[submodule "archivemount"]
	path = archivemount
	url = aur@aur.archlinux.org:archivemount.git
[submodule "python2-pysmart"]
	path = python2-pysmart
	url = aur@aur.archlinux.org:python2-pysmart.git
[submodule "python2-libzfs-git"]
	path = python2-libzfs-git
	url = aur@aur.archlinux.org:python2-libzfs-git.git
